body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

div#header div.title, div.item h3, div.item h4, div.pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}

    div#header div.title {
        font-size: 2em;
        padding: .6em;
    }

div#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

div#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
    position: relative;
}

    div.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    div.item h3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    div.item h4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

    div.item button {
        color: white;
        background-color: #333;
        border: 1px solid black;
        position: absolute;
        bottom: 0;
        right: 0;
    }

div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

    div.pager a {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        div.pager a:hover {
            background-color: Silver;
        }

        div.pager a.selected {
            background-color: #353535;
            color: white;
        }

div#categories a {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

    div#categories a.selected {
        background-color: #666;
        color: White;
    }

    div#categories a:hover {
        background-color: #CCC;
    }

    div#categories a.selected:hover {
        background-color: #666;
    }


h2 {
    margin-top: 0.3em
}

#cartTable {
    width: 90% !important;
}

    #cartTable tfoot td {
        border-top: 1px dotted gray;
        font-weight: bold;
    }

    #cartTable thead th {
        text-align: right;
    }

        #cartTable thead th:first-child {
            text-align: center;
        }

        #cartTable thead th:nth-child(2) {
            text-align: left;
        }

    #cartTable tbody td {
        text-align: right;
    }

        #cartTable tbody td:first-child {
            text-align: center;
        }

        #cartTable tbody td:nth-child(2) {
            text-align: left;
        }

    #cartTable tfoot tr td {
        text-align: right;
    }

p.actionButtons {
    text-align: center;
}

.actionButtons a, button.actionButtons {
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

#ButtonExit {
    
}

div#cartSummary {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .8em;
    color: Silver;
    background-color: #555;
    padding: .5em .5em .5em 1em;
}

    div#cartSummary a {
        text-decoration: none;
        padding: .4em 1em .4em 1em;
        line-height: 2.1em;
        margin-left: .5em;
        background-color: #333;
        color: White;
        border: 1px solid black;
    }

div#LoginUser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: .8em;
    color: Silver;
    background-color: #555;
    padding: .5em .5em .5em 1em;
    font-size: 25px;
}

    div#LoginUser a {
        text-decoration: none;
        padding: .2em 1em .2em 1em;
        line-height: 1.3em;
        background-color: #333;
        color: White;
        border: 1px solid black;
        font-size: 18px;
    }

.checkout label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.checkout div input {
    width: 200px;
    margin: 2px;
}

.loginContainer {
    padding: 10px;
    text-align: center;
}

    .loginContainer label {
        display: inline-block;
        width: 120px;
        margin: 5px;
    }

    .loginContainer input {
        width: 150px;
        margin: 5px;
    }

    .loginContainer button {
        margin-top: 10px;
    }

div.outerContainer {
    text-align: center;
}




#ordersTable {
    counter-reset: schetchik;
    display: inline-block;
    text-align: left;
    margin: 20px 0;
}
    #ordersTable th, #ordersTable td {
        text-align: left;
        width: 100px;
        padding: 0px 10px;
    }


    #ordersTable tbody tr {
        counter-increment: schetchik;
    }
        #ordersTable thead tr:before {
            content: '';
            display: table-cell;
            vertical-align: middle;
            color: #978777;
        }

        #ordersTable tbody tr:before {
            content: counter(schetchik);
            display: table-cell;
            vertical-align: middle;
            color: #978777;
        }

#ordersTable th:nth-last-child(2), #ordersTable td:nth-last-child(2) {
    text-align: right;
}

#productsTable td.description span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    display: inline-block;
}

#productsTable td:last-of-type {
    width: 210px;
}

#productsTable input[type=submit] {
    width: 100px;
    padding: 8px;
}


#errors {
    color: red;
}